.signUp {
  margin-left: calc(50vw - 200px);
  margin-top: calc(50vh - 300px);
}

.google-icon {
  margin: 1.5px;
}

a {
  color: black;
}

.textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.Mui-active circle{
 color: #c5017d;
}

.Mui-completed  {
  color: #c5017d;
}